body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #eef3f8;
}

.container {
  max-width: 650px;
  margin: 40px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
}

h2 {
  text-align: center;
  color: #0b5ed7;
}

label {
  display: block;
  margin-top: 14px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 11px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  margin-top: 24px;
  padding: 13px;
  border: none;
  border-radius: 6px;
  background: #0b5ed7;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #084298;
}

#message {
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}